<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleVersion</key>
	<string>${MACOSX_BUNDLE_BUNDLE_VERSION}</string>
    <key>CFBundleShortVersionString</key>
    <string>${MACOSX_BUNDLE_SHORT_VERSION_STRING}</string>
	<key>CFBundleName</key>
	<string>HearthStone Skipper</string>
	<key>CFBundleIdentifier</key>
	<string>hearthstone-skiper.z2z63.dev</string>
	<key>CFBundleDisplayName</key>
	<string>HearthStone Skipper</string>
	<key>LSUIElement</key>
	<true/>
	<key>CFBundleExecutable</key>
	<string>skipper</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
</dict>
</plist>
