name: build and release package

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  release-build:
    runs-on: macos-latest
    steps:
      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: '6.9.*'
      - name: install cmake
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: '~3.31.5'
      - name: checkout code
        uses: actions/checkout@v4
      - name: build
        shell: bash
        run: |
          mkdir build && cd build
          cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_PREFIX_PATH=$RUNNER_WORKSPACE -DCMAKE_INSTALL_PREFIX=bin -DAPP_VERSION=${{ github.ref_name }}
          cmake --build . --target skipper
          cmake --install .
          ditto -c -k --keepParent bin/skipper.app skipper-${{ github.ref_name }}-darwin-arm64.zip
      - name: release
        uses: softprops/action-gh-release@v2
        with:
          files: build/skipper-${{ github.ref_name }}-darwin-arm64.zip
